In [1]:
import pandas as pd
import numpy as np
from taxiML.data import *
from pathlib import Path

In [2]:
#########################################
# Full data pipeline for the ML project #
#########################################

# Step 1: Import the data from an external source; this uses the function in data.py called load_raw_data

rides = load_raw_data(year=2022, months=None)
rides

file is already downloaded and in the data directory.
file is already downloaded and in the data directory.
file is already downloaded and in the data directory.
file is already downloaded and in the data directory.
file is already downloaded and in the data directory.
file is already downloaded and in the data directory.
file is already downloaded and in the data directory.
file is already downloaded and in the data directory.
file is already downloaded and in the data directory.
file is already downloaded and in the data directory.
file is already downloaded and in the data directory.
Downloading raw data file: rides_2022-12
rides_2022-12 is not available.

                pickup_time  pickup_location
0       2022-01-01 00:35:40              142
1       2022-01-01 00:33:43              236
2       2022-01-01 00:53:21              166
3       2022-01-01 00:25:21              114
4       2022-01-01 00:36:48               68
...                     ...              ...
3252712 2022-11-30 23:17:09              144
3252713 2022-11-30 23:48:48               45
3252714 2022-11-30 23:04:36              163
3252715 2022-11-30 23:18:37              161
3252716 2022-11-30 23:30:50               74

[36255131 rows x 2 columns]

In [3]:
# Step 2: Create the time series data from the cleaned raw data

ts_data = transform_raw_data_into_ts_data(rides=rides)
print(ts_data)

100%|██████████| 262/262 [00:04<00:00, 55.32it/s]

                pickup_hour  rides  pickup_location
0       2022-01-01 00:00:00     11                4
1       2022-01-01 01:00:00     15                4
2       2022-01-01 02:00:00     26                4
3       2022-01-01 03:00:00      8                4
4       2022-01-01 04:00:00      9                4
...                     ...    ...              ...
2100187 2022-11-30 19:00:00      0              199
2100188 2022-11-30 20:00:00      0              199
2100189 2022-11-30 21:00:00      0              199
2100190 2022-11-30 22:00:00      0              199
2100191 2022-11-30 23:00:00      0              199

[2100192 rows x 3 columns]

In [4]:
features, targets = transform_ts_data_into_features_and_target(ts_data=ts_data,
                                                               input_seq_len=24*28*1, # one month
                                                               step_size=24) 

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|██████████| 262/262 [00:39<00:00,  6.65it/s]

features.shape=(80172, 674)
targets.shape=(80172,)

In [5]:
tabular_data = features
tabular_data['target_rides_next_hour'] = targets
tabular_data.to_parquet(CLEANED_DATA_DIR / 'tabular_data.parquet')